<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <title th:text="${searchStatus == 'success' ? mainCharacter + ' 님 검색결과' : '캐릭터 정보 검색 결과'}">캐릭터 정보 검색 결과</title>

    <script src="https://cdn.tailwindcss.com">    </script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    body {
    font-family: 'Jua', sans-serif !important;
    }
        
    input[type="radio"] { display: none; }

    label[for*="tab"] {
        display: inline-block;
        padding: 1.5rem 2rem; 
        background: #f3f4f6; 
        color: #4b5563;
        margin: 0;
        border-radius: 0; 
        cursor: pointer;
        font-weight: 500; 
        transition: all 0.2s;
       
    }

    
    input[type="radio"]:checked + label {
        background: #ffffff; 
        color: #1f2937; 
        font-weight: 600; 
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); 
    }
    
    .conbox {
        padding: 20px;
        display: none;
        background-color: #ffffff; 
        border-top: none; 
    }
    
    #tab01:checked ~ .con1,
    #tab02:checked ~ .con2 {
        display: block; 
    }
</style>
    </head>
<body class="bg-gray-50 font-sans p-8">
   <div th:replace="~{header :: header}"></div>

        <h3 th:unless="${searchStatus == 'success'}">캐릭터 검색 결과</h3>
    <div class="tab_content item-center justify-center text-center" >
        
        
            <input type="radio" name="tabmenu" id="tab01" checked >
            <label for="tab01">캐릭터 상세 정보</label>
            <input type="radio" name="tabmenu" id="tab02">
            <label for="tab02">보유 캐릭터 목록</label>
        
        <!-- ================캐릭터 상세정보====================== -->
            <div class="conbox con1">
                <!-- 전투력 및 닉네임 표시  -->
                <div class="lg:w-1/3 p-4 bg-white border border-gray-200 rounded-lg shadow-sm mx-auto mb-1 " > 
                    <div class="flex justify-between w-full">
                        <div class="flex-1 p-4 border-2 border- rounded-md text-center ml-1 mx-auto flex flex-col">
                            <span class="text-2xl  mb-4 text-center">닉네임</span>
                            <span class="text-2xl  mb-4 text-center" th:text="${mainCharacter}">캐릭터 닉네임</span>
                            <span class="text-2xl font-semibold mb-4 text-center text-red-600" th:text="${mainCharacterItemLevel}">아이템레벨</span>
                        </div>

                           
                        <div class="flex-1 p-4 border-2 border- rounded-md text-center  mx-auto flex flex-col">
                            <span class="text-2xl mb-4 text-center">전투력 </span>
                            <span class="text-2xl font-semibold mb-4 text-red-600" th:utext="|${combatPower}|">1650.00</span>
                            <span class="text-2xl font-semibold  mb-4" th:utext="|랭킹(${mainCharacter})| "> </span>
                        </div>
                        
                        <div class="flex-1 p-4 border-2 border- rounded-md text-center ml-3 mx-auto flex flex-col ">
                            <span class="text-2xl  mb-4 text-center">상세 스텟 </span>
                            <span class="text-xl  text-blue-500 text-start">
                                <span class="text-gray-500">&nbsp;&nbsp;특화 : </span>
                                <span th:text="${specialization}">1735</span>
                            </span>
                            <span class="text-xl  text-blue-500 text-start">
                                <span class="text-gray-500">&nbsp;&nbsp;치명 : </span>
                                <span th:text="${fatal}">1735</span>
                            </span>
                            <span class="text-xl  text-blue-500 text-start">
                                <span class="text-gray-500">&nbsp;&nbsp;신속 : </span>
                                <span th:text="${speed}">1735</span>
                            </span>
                        </div>
                    </div>
                    <!-- 보석 한줄로 주르륵 표시 -->
                    <div class="w-full p-4 bg-white border border-blue-200 rounded-lg shadow-sm flex justify-center flex-col-2 mx-auto  mt-1" >

                    </div>
                </div>

                
                
                <!-- 캐릭터 다양한 상세 정보 받아오기 -> 장비이름, 아이템 레벨, 아이콘, 초월 단계 및 갯수, 상급재련, 엘릭서, 어빌리티스톤 효과, 악세사리 효과, 팔찌 기본옵션 및 부여옵션  -->
                <!-- weaponAndArmorItems 는 MainController.java에서 설정한 변수.  -->
                <div th:if="${weaponAndArmorItems != null or accessoryAndSpecialItems != null}" class="flex flex-col lg:flex-row gap-1 justify-center">
                    <div class="lg:w-1/5 p-4 bg-white border border-gray-200 rounded-lg shadow-sm"> 
                        <h2 class="text-2xl font-bold text-center ">장비</h2>
                        <!-- weaponAndArmorItems를 쉽게 사용하기 위해 item으로 재정의 -->
                        <div th:each="item : ${weaponAndArmorItems}"
                            class="p-3 rounded-lg flex space-x-3 items-center text-start">
                            
                            <img th:src="${item.Icon}" alt="아이템 아이콘" class="w-10 h-10 rounded-lg flex-shrink-0 bg-amber-100 align-middle" onerror="this.onerror=null;this.src='https://placehold.co/64x64'">
                             <!-- 아이템 레벨 불러오기  -->
                            <div class="flex-grow w-full">
                                <div th:if="${item.ItemTitle != null and !#strings.isEmpty(item.ItemTitle)}" class="text-xs text-gray-500 font-semibold" th:utext="|${item.ItemTitle}|"></div>
                            <!-- 상급재련 단계 + 아이템 이름(강화표시 포함) -->
                                <div class="flex items-baseline"> 
                                    <span th:if="${item.SingleTextBox != null and !#strings.isEmpty(item.SingleTextBox)}"
                                        class="text-xs text-yellow-600 font-bold mr-1"  th:text="${item.SingleTextBox + '단계'}">
                                    </span>

                                    <span class="text-xs font-semibold text-gray-900" th:utext="${item.NameTagBox}"> 
                                    </span>
                                </div>
                                    <!-- 초월 단계 및 갯수 -->
                                <div th:if="${item.IndentStringGroup != null or item.IndentStringGroupWeapon != null}" class="text-xs text-red-600  whitespace-nowrap font-semibold" >
                                    <img th:src="@{/img/Indentstring.png}" alt="초월 아이콘" class="inline-block w-3 h-4 align-middle ">
                                    <span th:if="${item.Type == '무기' and item.IndentStringGroupWeapon != null and !#strings.isEmpty(item.IndentStringGroupWeapon)}"
                                        th:utext="|초월 : ${item.IndentStringGroupWeapon}|" ></span>
                                            
                                    <span th:if="${item.Type != '무기' and item.IndentStringGroup != null and !#strings.isEmpty(item.IndentStringGroup)}"
                                        th:utext="|초월 : ${item.IndentStringGroup}|" ></span>
                                </div>

                                <div  class="flex flex-wrap text-xs font-bold text-orange-500 "> 
                                    <!-- 엘릭서 옵션 1 -->
                                    <span th:if="${item.Type != '무기' and item.elixirOption1 != null and !#strings.isEmpty(item.elixirOption1)}"
                                        th:text="${item.elixirOption1}"></span>
                                    
                                        <!-- 공간 분리 "/"  -->
                                    <th:block th:if="${item.Type != '무기' and item.elixirOption2 != null and !#strings.isEmpty(item.elixirOption2)}">
                                        &nbsp;/&nbsp;
                                    </th:block>
                                    <!-- 무기는 엘릭서 옵션 공간에 초월 총 갯수 적혀있음. 그래서 무기 엘릭서 부분에 총 초월 갯수 표시 -->
                                    <th:block th:if="${item.Type == '무기' and item.totalTranscendenceCount != null and !#strings.isEmpty(item.elixirOption2)}">
                                        <img th:src="@{/img/Indentstring.png}" alt="초월 아이콘" class="inline-block w-3 h-4 align-middle "/>
                                    </th:block>
                                    <!-- 엘릭서 옵션 2 -->
                                    <span th:if="${item.elixirOption2 != null and !#strings.isEmpty(item.elixirOption2)}"
                                        th:text="${item.elixirOption2}"></span>
                                </div>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                    <div class="lg:w-1/4.9 p-4 bg-white border border-gray-200 rounded-lg shadow-sm">
                        <h2 class="text-2xl font-bold  text-center">악세서리</h2>

                        <div th:each="item : ${accessoryAndSpecialItems}"
                            class="p-3 rounded-lg text-start"
                            th:classappend="${item.Type == '팔찌' ? 'space-y-1' : 'flex space-x-3 items-center'}"> 
                            <!-- 아이콘 -->
                            <img th:src="${item.Icon}" alt="아이템 아이콘" class="w-10 h-10 rounded-lg flex-shrink-0 bg-amber-100" onerror="this.onerror=null;this.src='https://placehold.co/64x64'">

                            <div th:class="${item.Type != '팔찌' ? 'flex-grow' : 'space-y-1'} "> 
                                <p class="text-base font-semibold text-gray-800 leading-snug" th:utext="${item.NameTagBox}" hidden></p>
                                <!-- 아이템 이름 -->
                                <div th:if="${item.ItemTitle != null and !#strings.isEmpty(item.ItemTitle)}" class="text-xs text-gray-500 mt-1 font-semibold" th:utext="${item.ItemTitle}" hidden></div>
                                
                                <!-- 악세사리 효과 -->
                                <div th:if="${item.ItemPartBasicBox != null and !#strings.isEmpty(item.ItemPartBasicBox)}" class="text-xs text-black-600 mt-1 font-semibold" th:utext="${item.ItemPartBasicBox}"></div>
                                <div th:if="${item.ItemPartOptionalBox != null and !#strings.isEmpty(item.ItemPartOptionalBox)}" class="text-xs text-yellow-600 font-semibold" th:utext="${item.ItemPartOptionalBox}" hidden></div>
                                
                                
                                <!-- 팔찌 기본 옵션 / 부여 옵션 -->
                                <div th:if="${item.BraceletOption != null and !#strings.isEmpty(item.BraceletOption)}" 
                                    class="text-xs text-black-600 mt-1 font-semibold" th:utext="${item.BraceletOption}"></div> 
                                <div th:if="${item.BraceletPartOption != null and !#strings.isEmpty(item.BraceletPartOption)}" 
                                    class="text-xs text-black-600 mt-1 font-semibold" th:utext="${item.BraceletPartOption}"></div>
                                <!-- 어빌리티 스톤 각인 레벨 표시 -->
                                <div th:if="${item.Type == '어빌리티 스톤' and item.AbilityStone != null and !#strings.isEmpty(item.AbilityStone)}"
                                    class="text-xs text-black-600 mt-1 font-semibold" th:utext="${item.AbilityStone}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                   
                <!-- 장비 목록이 없거나 로딩 중일 때 표시할 메시지 -->
                <div th:unless="${(weaponAndArmorItems != null and !#lists.isEmpty(weaponAndArmorItems)) or (accessoryAndSpecialItems != null and !#lists.isEmpty(accessoryAndSpecialItems))}"
                    class="p-4 text-center text-base font-medium text-yellow-800 bg-yellow-100 rounded-lg">
                    <span th:if="${searchStatus == 'success'}">장비 상세 정보를 가져오지 못했거나 장비가 없습니다.</span>
                    <span th:unless="${searchStatus == 'success'}">캐릭터 정보를 불러오는 중입니다...</span>
                </div>
            </div>    
            
        <!-- ================보유 캐릭터 목록====================== -->
        <!-- 보유 중인 캐릭터 누르면 그 캐릭터 정보 창으로 넘어가기  -->
        <!-- 갱신 버튼 -->
        
     

        <div class="conbox con2 " >
             <div th:if="${searchStatus == 'failure'}" 
                    class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
                    <p th:text="${errorMessage}">오류 메시지</p>
                </div>
                
                <div th:if="${searchStatus == 'success'}">
                    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4 font-semibold">
                    

                        
                        <a th:each="item : ${siblingsList}" 
                            th:href="@{/character_Info(characterName=${item.characterName})}"
                            class="flex flex-col items-center p-4 bg-gray-50 border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition duration-200 font-semibold">
                                    
                            <span th:text="${item.characterName}" 
                                class="text-base font-bold text-gray-900 truncate w-full text-center mb-1 font-semibold">홍길동</span>
                                    
                            <span th:text="${item.job}" 
                                class="text-sm text-gray-600 font-semibold">전사</span>
                                    
                            <span th:text="|Lv. ${item.level}|" 
                                class="text-xs text-gray-500 mt-1 font-semibold">Lv. 60</span>
                                            
                            <span th:text="|아이템 레벨: ${item.itemLevel}|" 
                                class="text-sm font-semibold text-indigo-600 mt-1 font-semibold">I-Lv. 1620.00</span>
                                    
                        </a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>